<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profilator</title>
</head>
<body>

    {% include 'base/navbar.html' %}

    {% block content %}
    <html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="static/css/profilator.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/21245550a9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <style>
        .montserrat-h4font{
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
        }
        body {
            background-image: url('img_girl.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        .center {
            padding: 110px 0;
            text-align: center;
        }
        .montserrat-h2font1 {
            color: #007bff;
            font-weight: 600;
            text-align: center;
        }
        .image-container {
            display: flex;
            justify-content: center; /* Center the items horizontally */
            align-items: center;
            flex-wrap: wrap;
        }

        .image-container img {
        width: 200px;
        height: auto; 
        border: 2px solid #007bff;
        border-radius: 13px;
        box-shadow: 4px 7px 7px 0px #00000042;
        cursor: pointer;
        margin: 10px;
        transition: 400ms;
        /* margin-right: 200px;
        border-radius: 10px; */
        }

        .image-container img:hover {
            filter: grayscale(1);
            transform: scale(1.03);
        }
        



    </style>
    <title>Home - Brand</title>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    {% include 'base/navbar.html' %}
    
    <div class="center">
        {% for item in items %}
        <div class="image-container"><img class="rounded-circle mx-auto" src="{{ item.image.url }}" />
        {% endfor %}
            
        </div>
        
    </div>
    
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% for item in items %}
                    <h2 class="montserrat-h2font1">My name is {{ item.name }} <br> and I am a {{ item.description }} </h2>
                    {% endfor %}

                </div>

            </div>
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="h2font">Services</h2>
                    <h3 class="text-muted section-subheading">We provide the one of the best web development services</h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-truck-fast fa-stack-1x fa-inverse"></i></span>
                    <h4 class="montserrat-h4font">Fast Delivery</h4>
                    <p class="text-muted">From conceptualization to deployment, we prioritize agility and responsiveness. We understand the importance of timely delivery in today's fast-paced digital landscape, and we strive to exceed expectations by delivering projects on time, every time.</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-laptop fa-stack-1x fa-inverse"></i></span>
                    <h4 class="montserrat-h4font">Responsive Design</h4>
                    <p class="text-muted">From smartphones and tablets to laptops and desktops, our websites and applications adapt seamlessly to provide an optimal viewing and interaction experience on any device. We believe that every user should have access to your content, regardless of how they choose to access it.</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-lock fa-stack-1x fa-inverse"></i></span>
                    <h4 class="montserrat-h4font">Web Security</h4>
                    <p class="text-muted">We understand the critical importance of protecting your website and your users' data from online threats and vulnerabilities. That's why we take a proactive approach to web security, implementing robust measures to safeguard your digital assets and ensure peace of mind for both you and your users.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="h2font">Portfolio</h2>
                    <h3 class="text-muted section-subheading">Take a look at some of our amazing projects.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal1" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="{% static 'images/ecommerce.jpg' %}" />
                    </a>
                    <div class="portfolio-caption">
                        <h4>E-commerce</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal2" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="{% static 'images/animal.jpeg' %}" />
                    </a>
                    <div class="portfolio-caption">
                        <h4>Save Animals</h4>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="h2font">About</h2>
                    <h3 class="text-muted section-subheading">Learn more about or web journey</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li class="list-group-item">
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2022</h4>
                                    <h4 class="subheading">My Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Started learning Python programming when the federal strike commenced in 2022</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2022</h4>
                                    <h4 class="subheading">An Commitment is made</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I started out applying my python knowledge into web development and learning the necessary courses</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2023</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Commenced learning Javascript and applying it to web development</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Till date</h4>
                                    <h4 class="subheading">Commitment to Growth</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With over 2 years of programming experience, I am dedicated to creating the best websites in the world, ensuring maximum client satisfaction</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part<br /> Of Our<br /> Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="bg-light">
        <div class="image-container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'images/paul.jpeg.jpg' %}" />
                        <h4>Paul-Ephraim</h4>
                        <p class="text-muted">Lead Programmer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'images/FB_IMG_1648288954063.jpg' %}" />
                        <h4>Joseph chuks</h4>
                        <p class="text-muted">Backend Programmer</p>
                        <ul class="list-inline social-buttons">
                            {% for item in items %}
                            <li class="list-inline-item"><a href="{{ item.author2_link_linkedin }}"><i class="fa fa-facebook"></i></a></li>
                            {% endfor %}
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'images/james.jpeg.jpg' %}" />
                        <h4>James Ndubuisi</h4>
                        <p class="text-muted">Backend Developer</p>
                        <ul class="list-inline social-buttons">
                            {% for item in items %}
                            <li class="list-inline-item"><a href="{{ item.author1_link_facebook }}"><i class="fa fa-facebook"></i></a></li>
                            {% endfor %}
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        
    </section>
    <section id="contact" style="background-image: url('map-image.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="h2font">Contact Us</h2>
                    <h3 class="text-muted section-subheading">Send us an Email.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3"><input id="name" class="form-control" type="text" placeholder="Your Name *" required /><small class="form-text text-danger flex-grow-1 lead"></small></div>
                                <div class="form-group mb-3"><input id="email" class="form-control" type="email" placeholder="Your Email *" required /><small class="form-text text-danger lead"></small></div>
                                <div class="form-group mb-3"><input class="form-control" type="tel" placeholder="Your Phone *" required /><small class="form-text text-danger lead"></small></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3"><textarea id="message" class="form-control" placeholder="Your Message *" required></textarea><small class="form-text text-danger lead"></small></div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div><button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright © Brand 2024</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="{% url 'base:privacy' %}">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="{% url 'base:terms' %}">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div id="portfolioModal1" class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">E-commerce</h2>
                                <p>A specialized project with that brings to life an online store developed with React and Tailwind CSS</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2024</li>
                                    <li>Client: Ifeama Paul-Ephraim</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span> Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolioModal2" class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Save The Animals</h2>
                                <p>A specialized project with that brings to life an animal fund raiser developed with Django and Bootstrap CSS</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2024</li>
                                    <li>Client: Ifeama Paul-Ephraim</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span> Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolioModal3" class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img class="img-fluid d-block mx-auto" src="portfolio/3-full.jpg" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span> Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolioModal4" class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img class="img-fluid d-block mx-auto" src="portfolio/4-full.jpg" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span> Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolioModal5" class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img class="img-fluid d-block mx-auto" src="portfolio/5-full.jpg" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span> Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolioModal6" class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img class="img-fluid d-block mx-auto" src="portfolio/6-full.jpg" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span> Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
    {% endblock content %}

</body>
</html>