{% block content %}
<nav id="mainNav" class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark">
    <div class="container"><a class="navbar-brand" href="#page-top">Profilator</a><button class="navbar-toggler navbar-toggler-right" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div id="navbarResponsive" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto text-uppercase">
                <li class="nav-item"><a class="nav-link" href="{% url 'base:home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'base:posts' %}">Post</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'base:logout' %}">Log out</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'base:login' %}">Log in</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'base:login' %}"><button class="btn btn-primary" type="button">Update Profile</button></a></li>
                
            </ul>
        </div>
    </div>
</nav>
{% endblock %}